name: Publish the release package to PyPI

on:
  release:
    types:
      - published

jobs:

  publish:
    name: Publish the release package to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi-release
      url: https://pypi.org/p/python-rainwave-client
    permissions:
      id-token: write
    steps:

      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        run: sh ci/install-uv.sh

      - name: Build the package
        run: sh ci/build.sh

      - name: Publish the package to PyPI
        run: sh ci/publish.sh
