name: Run tests

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:

  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        run: sh ci/install-uv.sh
      
      - name: Run tests
        run: sh ci/test.sh
        env:
          PYTHON_VERSION: ${{ matrix.python_version }}
          RW_KEY: ${{ secrets.rw_key }}
          RW_USER_ID: ${{ vars.rw_user_id }}
